# Overview

https://www.geeksforgeeks.org/segment-tree-set-1-sum-of-given-range/

Segment tree is a complete binary tree.
Leaves are `nums` element.

The common parent node should contain sum of element `i` and `j`. The root of segment tree should contain acumulative sum of the overall array.

Let's have `arr` which item stores a node of segment tree.

Segment tree is complete binary tree and array might be used to store static items.

# TODO:
- Create a story:
    - start with accumulative sum 
    - continue with update restriction

In [66]:
from typing import List
import pandas as pd

In [130]:
class SegmentTree:
    '''
    arrr[0] - root
    left:  2 * (i - 1)
    right: 2 * (i - 1) + 1
    parent: (i - 1) // 2
    '''
    
    def __init__(self, nums: List[int]):
        self.n = len(nums)
        
        self.arr = self._build_segment_tree(nums)
#         print(self.arr)


    def _build_segment_tree(self, nums):
        # Full Binary Tree
        # First element is None and reserved for simplicitly
        arr = [None] * (2 * self.n) 

        for i in range(self.n):
            arr[self.n + i] = nums[i]

        for i in reversed(range(1, self.n)):
            arr[i] = arr[i * 2] + arr[i * 2 + 1]

        return arr
    
    def update(self, idx: int, val: int):
        idx += self.n
        self.arr[idx] = val
        print(f"update init: {self.arr}")

        while idx > 0:
            left = idx
            right = idx
            if idx % 2 == 0: # even Left node
                right = idx + 1
            else:           # Right node
                left = idx - 1
            if left == 0:
                break

            # parent is updated after child is updated
            print(f"left: {left} right: {right} arr: {self.arr}")
            idx = idx // 2
            self.arr[idx] = self.arr[left] + self.arr[right]

    def sum_range(self, l: int, r: int) -> int:

        #Â get leaf with value 'l'
        l += self.n
        # get leaf with value 'r'
        r += self.n
        
#         print(f"init l: {l} r: {r}")
        data = []
        data.append([l, r, 0])

        res = 0
        while (l <= r):
            print(f"l: {l} r: {r}")
            if ((l % 2) == 1):
                res += self.arr[l]
#                 print(f"l: {l} + self.arr[l]: {self.arr[l]}-> {res}")
                data.append([l, r, res])
                l += 1

            if ((r % 2) == 0):
                res += self.arr[r]
#                 print(f"r: {r} + self.arr[r]: {self.arr[r]} -> {res}")
                data.append([l, r, res])
                r -= 1

            l = l // 2
            r = r // 2
        
        df = pd.DataFrame(data, columns=['left', 'right', 'result'])

        return res, df

In [127]:
'''
       37
    /     \
   33       4
  /   \    / \  
 12    21  1  3
/ \   / \
5  7  9  12
'''
tr = SegmentTree([1,3,5,7,9,12])
data_df = pd.DataFrame(tr.arr, columns=['sum'])
data_df.reset_index(inplace=True)
# data_df

In [129]:
res, df = tr.sum_range(0, 5)
print(res)
print(df)

l: 6 r: 11
l: 3 r: 5
l: 2 r: 2
37
   left  right  result
0     6     11       0
1     3      5       4
2     2      2      37

In [116]:
data_df['l_idx'] = data_df.apply(lambda x: x['index'] * 2, axis=1)
data_df['r_idx'] = data_df.apply(lambda x: x['index'] * 2 + 1, axis=1)
data_df['p_idx'] = data_df.apply(lambda x: x['index'] // 2, axis=1)
data_df

    index   sum  l_idx  r_idx  p_idx
0       0   NaN    0.0    1.0    0.0
1       1  37.0    2.0    3.0    0.0
2       2  33.0    4.0    5.0    1.0
3       3   4.0    6.0    7.0    1.0
4       4  12.0    8.0    9.0    2.0
5       5  21.0   10.0   11.0    2.0
6       6   1.0   12.0   13.0    3.0
7       7   3.0   14.0   15.0    3.0
8       8   5.0   16.0   17.0    4.0
9       9   7.0   18.0   19.0    4.0
10     10   9.0   20.0   21.0    5.0
11     11  12.0   22.0   23.0    5.0

In [117]:
tr.update(3, 10)
print(tr.arr)

update init: [None, 37, 33, 4, 12, 21, 1, 3, 5, 10, 9, 12]
left: 8 right: 9 arr: [None, 37, 33, 4, 12, 21, 1, 3, 5, 10, 9, 12]
left: 4 right: 5 arr: [None, 37, 33, 4, 15, 21, 1, 3, 5, 10, 9, 12]
left: 2 right: 3 arr: [None, 37, 36, 4, 15, 21, 1, 3, 5, 10, 9, 12]
[None, 40, 36, 4, 15, 21, 1, 3, 5, 10, 9, 12]

In [78]:
tr.sum_range(0, 5)

l: 6 r: 11
l: 3 r: 5
l: 2 r: 2
   left  right  result
0     6     11       0
1     3      5       4
2     2      2      37

37

In [81]:
2 ** 20
# 1,048,576

1048576

In [51]:
'''
    9
   / \
  8   1
/  \  
3   5
["NumArray","sumRange","update","sumRange"]
[[[1,3,5]],[0,2],[1,2],[0,2]]
'''
tr = SegmentTree([1,3,5])
print(tr.arr)

print(tr.sum_range(0, 2))

tr.update(1, 2)
print(tr.arr)

print(tr.sum_range(0, 2))

[None, 9, 8, 1, 3, 5]
9
[None, 8, 7, 1, 2, 5]
8

In [103]:
'''
     10
   /   \
 3      7
/ \    / \
1  2  3   4
'''
tr = SegmentTree([1,2,3,4])
print(tr.arr)
print(tr.sum_range(0, 1))

[None, 10, 3, 7, 1, 2, 3, 4]
init l: 4 r: 5
r: 2 -> 3
3

In [23]:
'''
     10
   /   \
 3      7
/ \    / \
1  2  3   4
'''

tr = SegmentTree([1,2,3,4])
print(tr.arr)

0
1
2
3
[10, 3, 7, 1, 2, 3, 4]
[10, 3, 7, 1, 2, 3, 4]

In [21]:
'''
     14
   /   \
 7      7
/ \    / \
5  2  3   4
'''
tr.update(0, 5)
print(tr.arr)

[14, 7, 7, 5, 2, 3, 4]

In [24]:
'''
     18
   /   \
 11      7
/ \    / \
1  10  3   4

i: 3
p_i: 1

(3 - 1) // 2 = 1

i: 4
p_i: 1
(4 - 1) // 2


'''
tr.update(1, 10)
print(tr.arr)

[18, 11, 7, 1, 10, 3, 4]